{% extends 'bootstrap/base.html' %}

{% block title %}
      {% if title %}{{ title }} - Scrabble{% else %}Welcome to Scrabble Cheater{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
            Scrabble:
            <a href="{{ url_for('root') }}">Home</a>
            <a href="{{ url_for('table') }}">Table</a>
            <a href="{{ url_for('config') }}">Configuration</a>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}