{% extends "base.html" %}

{% block content %}
    <div>
       <p>Tiles: {{ tiles }} - Blank Tiles: {{ blanks }}</p>
    <table class="table table-bordered table-hover bg-light">
        <thead class="thead-dark">
        <tr>
            <th>Point Value</th><th>Words</th>
        </tr>
        </thead>
        <tbody>
        {% for score,v in scores.items() %}
        <tr>
            <td>{{ score }}</td><td>{% for w in v %}{{ w }} {% endfor %}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}