{% extends "base.html" %}

{% block content %}
    <div class="card pt-3 pl-3 mx-auto" style="width: 100%; margin: 50px;">
    {% for row in row_data %}
    <div class="row">
        {% for col, row_ in zip(column_names, row) %}
        {% if col == link_column %}
        <div class="col">
            <p style = "text-align: center; font-family: scrabblefont; font-size: 30px; color: rgb(0, 102, 204)">
                {{ row_ }}
            </p>
        </div>
        {% else %}
        <div class="col">
            <p style = "text-align: center; font-family: scrabblefont; font-size: 30px; color: rgb(0, 102, 204)">
                {{row_}}
            </p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% endblock %}

