{% extends "base.html" %}

{% block content %}
    <div class="card mx-auto align-items-center" style="width: 50%; height: 50%; margin: 50px;">
    {% for row in row_data %}
    <div class="row row-cols-auto">
        {% for col, row_ in zip(column_names, row) %}
        <div class="col-sm-auto p-0">
            <div class="card lh-1" style="height: 60px; margin: 0px; padding: 0px; text-align: center; font-family: scrabblefont; font-size: 60px; color: rgb(0, 102, 204)">
                {{row_}}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
{% endblock %}

